
@font-face{
	src: url('../fonts/Baloo2-Regular.ttf');
	font-family:'Baloo2-Regular';
}
body{
    margin:0;
    padding: 0;
    font-family:'Baloo2-Regular', sans-serif;     
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff; 
}
nav .logo{
    padding: 0px 20px;
    height:80px;
    float:left;  
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
}
.logo img{
    width:35%;
}
nav ul{
    list-style: none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li a{
    line-height: 80px;
    color:#fff;
    padding:12px 30px;
    text-decoration: none;
    font-size:17px;
    font-weight: bold;
    font-family:'Baloo2-Regular';
    text-transform: uppercase;
}
nav ul li a:hover{
    background: rgba(0,0,0,0.6);
    border-radius: 6px;
}
section{
	padding: 3em 0 0;
	width: 80%;
	margin: 0 auto;
	line-height: 1.5em;
	font-size: .9em;
}
.naslovna-pocetna{
    width: 100%;
    height:670px;
    background:url("../images/naslovna-pocetna.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px;
}

.osalonu h2{
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}
.osalonu p {
	padding: 0em 1em 0;
	text-align: justify;
    text-align:center;
    font-size: 18px;
    font-family:'Baloo2-Regular';
}
.usluge h2{
    color: rgba(0,0,0,0.6);
	text-align: center;
}
.column {   
	width: 33%;
	text-align: center;
	display: inline-block;
	white-space: normal;
}
.column img{
    width:120px;
}
.column p{
    font-size:17px;
}
footer{       
    background: #e1e1e1;
    height: auto;
    width: 100%;
    font-family:'Baloo2-Regular';
    color:rgba(0,0,0,0.6);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family:'Baloo2-Regular';
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 1rem;
}
.socials a{
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}
.socials a i{
    font-size: 1.4rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #e1e1e1;
}

.footer-bottom{
    background: rgba(0,0,0,0.6);
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-size: 18px;
    color:#e1e1e1;
}

#dugme{
    padding-top: 15%;
    padding-left:10%;
}

#dugme button{
    border-radius: 5%;
    padding:10px;
    font-size: 20px;
    color: #fff;
    position: relative;
    background-color: rgba(0,0,0,0.6);
	animation-name: animacija;
	animation-duration: 1.5s;
    font-family:'Baloo2-Regular';
    width:20%;
    border-color: rgba(0,0,0,0.6);
}
#dugme button:hover{
    color: rgba(0,0,0,0.6);
    background-color: #fff;
}
#dugme h1{
    position: relative;
	animation-name: animacija;
	animation-duration: 1.5s;
    color:rgba(0,0,0,0.6);
    text-decoration: none;
    font-size:40px;
    font-weight: bold;
    font-family:'Baloo2-Regular';
    text-transform: uppercase;
}
@keyframes animacija{
	from {top: -20px; transform: scale(0);}
	to {top: 0px; transform: scale(1);}
}

.naslovna{
    width: 100%;
    height:200px;
    background:url("../images/naslovna.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px;
}
.naslovna-kontakt{
    width: 100%;
    height:670px;
    background:url("../images/naslovna-kontakt.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px;
}

.kontakt-forma h2 {
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}
.kontakt-forma form{
    margin-left:30%;
}
.kontakt-forma form label{
    font-family:'Baloo2-Regular';
    text-transform: uppercase;
}
input[type=text],
input[type=password],
textarea{
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e1e1e1;
    color: rgba(0,0,0,0.6);
    
  }
input[type=submit]{
    border-radius: 5%;
    padding: 2px;
    font-size: 15px;
    color: #e1e1e1;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    font-family: 'Baloo2-Regular',sans-serif;
    width: 20%;
    border-color: rgba(0,0,0,0.6);
    margin-bottom: 20px;
}
input[type=submit]:hover{
    color: rgba(0,0,0,0.6);
    background-color: #e1e1e1;
}

.kontakt{
    margin-left:105px;
}
.kontakt ul li{
    padding:10px;
    list-style: none;
    font-family:'Baloo2-Regular';
    font-size:20px;
    
}
.kontakt ul li a{
    font-family:'Baloo2-Regular';
    list-style: none;
    text-decoration: none;
    color:rgba(0,0,0,0.7);
}
.kontakt-forma p{
    font-size:18px;
    color:rgba(0,0,0,0.7);
    font-family:'Baloo2-Regular';
    text-align: center;
    padding-bottom: 1%;
}

.autor h2{
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}


.naslovna #dugme{
    padding-top: 6%;
    padding-left:8%;
}

table{
	width: 70%;
	margin: 0 auto;
    font-family:'Baloo2-Regular';
}
table tr{
	line-height: 2em;
}
thead{
	background:linear-gradient(#e1e1e1 0%, #ffffff 100%);
}

tfoot{
	background: linear-gradient(#e1e1e1 0%, rgba(0,0,0,0.6) 100%);
	color: white;
	
}

tbody>tr:nth-child(2n){
	background: #cfcfcf;
}

tbody>tr:nth-child(2n+1){
	background: white;
}
.usluge h3{
	color: rgba(0,0,0,0.6);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1em;
    font-family: 'Baloo2-Regular';
}
.galerija>div{
    margin:10px 140px;
}
.galerija img{
    transition: 1s;
    padding:15px;
    width:200px;
}
.galerija img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
}
.galerija h2 {
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}
.autor>div{
    width:850px;
    margin-left:200px;
    margin-bottom: 50px;
  
}
.autor .slika{
    
    margin-left: 15rem;
    margin-bottom: 5px;
    border:solid rgba(0,0,0,0.6) 1px;
    padding: 2px;


}
.autor .slika{
    border-radius: 20%;
}
.autor h3{
 
    font-size: 20px;
    color:rgba(0,0,0,0.6);
}
.autor p{
   
    text-align: justify;
    font-size: 18px;
    color:rgba(0,0,0,0.7);
}
.clear{
    clear: both;
}
.ljubimci{
    padding: 3em 0 0;
	width: 80%;
	margin: 0 auto;
	line-height: 1.5em;
	font-size: .9em;
}
.ljubimci .column1{
    float:left;
    width:50%;
}
.ljubimci .column2{
    float:right;
    width:40%;
}
.ljubimci .column2 img{

    width:100%;
}
.ljubimci h4{
    color:rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size: 1.5em;
}
.ljubimci p{
    font-size: 18px;
    padding-top:1rem;
}
.ljubimci blockquote{
    font-size: 18px;
    padding-top:1rem;
    padding-bottom:1rem;
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
  
}
.usluge h2 {
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}
.usluge .tabela{
    color: rgba(0,0,0,0.6);
    font-family: 'Baloo2-Regular', sans-serif;
    width: 100%;
    margin-bottom: 50px;
  
}
.tabela th{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.tabela tr{
    font-size: 18px;
    
}
.tabela td{
    padding:5px;
}
.tabela tr:hover{
    background-color: rgba(0,0,0,0.6);
    color: #e1e1e1;
}
.usluge .napomena{
    border:5px solid #e1e1e1;
    width:50%;
    margin-left:300px;
}
.usluge .napomena h4{
    font-size: 20px;
    padding-left: 25px;
}
.usluge .napomena ul li{
    font-size: 16px;
    line-height: normal;
}
.usluge .link-za-registraciju{
    margin-top:3rem;
    width:50%;
    margin-left: 350px;
}
.usluge .link-za-registraciju a{
    text-decoration: none;
    background-color: rgba(0,0,0,0.6);
    font-size: 20px;
    color:#e1e1e1;
    padding: 5px;
   
}
.usluge .link-za-registraciju a:hover{
   
    background-color: #e1e1e1;
    color:rgba(0,0,0,0.6);
}
.registracija-forma h2 {
	color: rgba(0,0,0,0.6);
	text-align: center;
	text-transform: uppercase; 
	font-size: 2em;
	margin-bottom: 2em;
    font-family:'Baloo2-Regular';
}
.registracija-forma p{
    font-size:18px;
    color:rgba(0,0,0,0.7);
    font-family:'Baloo2-Regular';
    text-align: center;
    padding-bottom: 1%;
}
.registracija-forma form{
    margin-left:30%;
}
  
